<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartlum.smartlum">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartLum">
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.smartlum.smartlum.ui.devices.easy.EasyActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.smartlum.smartlum.ui.devices.blinky.BlinkyActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.smartlum.smartlum.ui.devices.torchere.TorchereActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.smartlum.smartlum.ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>